<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${pizzaTitle}">Pizza menu</h1>
    <span th:text = "${pizzaMenuItem.name}">place holder</span>
    <span th:text = "${pizzaMenuItem.description}">place holder</span>
    <span th:text = "${pizzaMenuItem.category}">place holder</span>
    <span th:text = "${pizzaMenuItem.price}">place holder</span>
</body>
</html>